body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
    color: #FF0000;
    font-family: 'Courier New', Courier, monospace;
}

.animated-message {
    color: #800095; /* Cor verde para a mensagem */
    font-size: 24px;
    text-align: center;
    animation: fadeInOut 2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    50% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
