<!DOCTYPE html>
<html>
  <head>
    <title>Python for Hackers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
      body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
      .w3-row-padding img {margin-bottom: 12px}
      .w3-sidebar {width: 120px;background: #222;}
      #main {margin-left: 120px}
      @media only screen and (max-width: 600px) {#main {margin-left: 0}#}
    </style>
  </head>

  <body class="w3-black">
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center w3-purple">

      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
      </a>
      <a href="/page/login" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-user w3-xxlarge"></i>
        <p>LOGIN</p>
      </a>
      <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-eye w3-xxlarge"></i>
        <p>PHOTOS</p>
      </a>
      <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>CONTACT</p>
      </a>
    </nav>

    <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
      <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
        <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
        <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
        <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
        <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
      </div>
    </div>

    <div class="w3-padding-large" id="main">

      <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
        <h1 class="w3-jumbo"><span class="w3-hide-small">Seja bem vindo Sombra errante!</span></h1>
        <h3>A filosofia <strong><h1><i>Hacker</i></h1></strong> é tudo...</h3>
        <img src="/static/me.jpg" alt="The Boy"  width="572" height="572"  style="border-radius: 12%">
      </header>
      <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
        <h1 class="w3-text-light-grey">Descrição breve</h1>
        <hr style="width:200px" class="w3-opacity">
        <p>
          A Pessoa que vos fala, é extremamente apaixonada pela cultura hacker, filosofia, arte, música, física,
          entre outras inúmeras áreas do conhecimento humano, no entanto, devida a sua indubitavel limitação imposta pela naturaza humana, resolveu focar única e exclusivamente em uma delas, afim de conseguir o mais alto grau de proficiência, a <strong><i>Maestria.</i></strong>
        </p>
        <h2 class="w3-padding-16 w3-text-light-grey">Minhas habilidades</h2>
        <p class="w3-wide">Retórica</p>
        <div class="w3-white">
          <div class="w3-purple" style="height:28px;width:75%"></div>
        </div>
        <p class="w3-wide">Música</p>
        <div class="w3-white">
          <div class="w3-purple" style="height:28px;width:85%"></div>
        </div>
        <p class="w3-wide">Hacking</p>
        <div class="w3-white">
          <div class="w3-purple" style="height:28px;width:80%"></div>
        </div>
        <p class="w3-wide">Matemática</p>
        <div class="w3-white">
          <div class="w3-purple" style="height:28px;width:80%"></div>
        </div>
         <p class="w3-wide">Leitura</p>
        <div class="w3-white">
          <div class="w3-purple" style="height:28px;width:92%"></div>
        </div>
        <p class="w3-wide">Dedução lógica</p>
        <div class="w3-white">
          <div class="w3-purple" style="height:28px;width:70%"></div>
        </div>
        <p class="w3-wide">Autodidatismo</p>
        <div class="w3-white">
          <div class="w3-purple" style="height:28px;width:95%"></div>
        </div><br>
        
        <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">68</span><br>
            Máquinas concluidas no Hack The Box
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">55</span><br>
            TryHackMe
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">30</span><br>
            Módulos concluidos na Academia Hack The Box
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">1+</span><br>
            Livros Lidos esse ano
          </div>
        </div>

        <button class="w3-button w3-light-grey w3-padding-large w3-section">
          <i class="fa fa-download"></i> Download Resume
        </button>
        
        <h2 class="w3-padding-16 w3-text-light-grey w3-center">Meus Objetivos</h2>
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half w3-margin-bottom">
            <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
              <li class="w3-light-grey w3-xlarge w3-padding-32">Nivel 1</li>
              <li class="w3-purple w3-medium w3-padding-32">Proficiência em</li>
              <li class="w3-padding-16">Python3</li>
              <li class="w3-padding-16">Web Pentest</li>
              <li class="w3-padding-16">Windows Active Directory</li>
              <li class="w3-padding-16">Análise de códdigo</li>
              <li class="w3-padding-16">Dedução lógica</li>
              <li class="w3-padding-16">Bug Bounty</li>
              </ul>
          </div>

          <div class="w3-half">
            <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
              <li class="w3-light-grey w3-xlarge w3-padding-32">Nivel 2</li>
              <li class="w3-red w3-medium w3-padding-32">Adquirindo</li>
              <li class="w3-padding-16">Certificação CTPS</li>
              <li class="w3-padding-16">Máquinas Hard no HTB</li>
              <li class="w3-padding-16">Estágio em Pentest</li>
              <li class="w3-padding-16">Trabalho Remoto/Presencial</li>
              <li class="w3-padding-16">Hacking de Alto nível</li>
              <li class="w3-padding-16">Autosatisfação</li>
            </ul>
          </div>
        </div><br>
            <div class="w3-center">
              <form action="/page/message" method="post">
                <p><textarea class="w3-hover-red w3-padding-32 w3-input w3-border resize:none" placeholder="Mensagem para Enviar" required name="msg"></textarea></p>
                <p>
                   <button class="w3-center w3-button w3-red w3-padding-large w3-hover-black" type="submit">Enviar</button>
                </p>
              </form>
            </div><br><br>
      
      <div class="w3-padding-64 w3-content w3-center" id="photos">
        <h2 class="w3-text-light-grey ">Arquivos</h2>
        <hr style="width:980px" class="w3-opacity">

        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half">
            <img src="/static/desktop.png" style="width:100%">
            <img src="/static/obs.png" style="width:100%">
            <img src="/static/site.png" style="width:100%">
            <img src="/static/htbapp.png" style="width:100%">
          </div>

          <div class="w3-half">
            <img src="/static/theme.png" style="width:100%">
            <img src="/static/NearBackg.png" style="width:100%">
            
            <object type="application/pdf" data="/static/academy.pdf" width="500" height="560" ></object>
          </div>
        </div>
        <hr style="width:980px" class="w3-opacity">
      </div>

      <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
        <h2 class="w3-text-light-grey">Entre em Contato!</h2>
        <hr style="width:200px" class="w3-opacity">

        <div class="w3-section">
          <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Santa Maria RS</p>
          <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: 55 999333046</p>
          <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: k4my@gmail.com</p>
        </div><br>
        <p>Me envie uma mensagem</p>

        <form action="/action_page.php" target="_blank">
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
          <p>
            <button class="w3-button w3-light-grey w3-padding-large" type="submit">
              <i class="fa fa-paper-plane"></i>
            </button>
          </p>
        </form>
      </div>
      
      <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
        <a href="https://github.com/Myk4my"><i class="fa fa-github w3-hover-opacity"></i></a>
        <a href="https://app.hackthebox.com/profile/1423120"><i class="fa fa-cube w3-hover-opacity"></i></a>
        <a href="https://twitter.com/Myk4my"><i class="fa fa-twitter w3-hover-opacity"></i></a>
        <a href="https://www.linkedin.com/in/myk4my/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
        <p class="w3-medium">Powered by <strong>Myk4my</strong></a></p>
      </footer>

    </div>
  </body>
</html>
